
.about-section{
    padding: 30px 0;
    
    h2{
        font-family: $lato;
        font-weight: $font-weight-normal;
    }
    
    .about-article{
        font-size: 1.8rem;
    }
    
    .about-content{
        background-color: $white;
        padding: 10px 10px 0;
        width: 80%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        .about-date{
            font-family: $bodoni;
            font-style: italic;
            line-height: 17px;
            letter-spacing: 0.1rem;
        }

        .about-text{
            line-height: 2.4rem;
            height: 2*2.4rem;
            overflow: hidden;
            color: $gray-900;
            font-weight: $font-weight-normal;
        }
    }
    
    .fa-search{
        position: absolute;
        top: auto;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        right: 20px;
    }
    
    .search-field{
        padding: 15px;
        border: 1px solid $gray-900;
        color: $gray-900;
        font-style: italic;
        width: 100%;
    }
}

@media(min-width:576px){
    .about-section{
        .about-content{
            transform: translate(-50%, 50%);
            padding: 22px 19px 57px;
        }
    }
}

@media(min-width:992px){
    .about-section{
        padding: 91px 0 143px;
    }
    
    .about-item{
        margin-bottom: 100px !important;
    }
    
    .about-item:last-of-type{
        margin-bottom: 0px !important;
    }
}