$base-font: $lato;

$mademoiselle-logo-color: #D0B6B6;
$heading-font: $bodoni;

$heading-border-color: #ECD9D9;

img{
    max-width: 100%;
}

body{
    font-family: $base-font;
    font-weight: $font-weight-light;
}

h1, h2, h3, h4, h5, h6{
    font-family: $heading-font;
}

h4 + span{
    display: block;
    height: 1px;
    width: 74px;
    background-color: transparent;
    margin-bottom: 40px;
}

h4{
    line-height: 4.5rem;
    letter-spacing: 0.5rem;
    font-weight: $font-weight-normal;
    margin-bottom: 5px;
}

h4:hover + span{
    background-color: $heading-border-color;
}