
// theme fonts

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

// font-family: 'Lato', sans-serif;

@font-face {
  font-family: 'Bodoni Book';
  src: url('fonts/Bodoni Book/Bodoni Book.woff2') format('woff2'),
       url('fonts/Bodoni Book/Bodoni Book.woff') format('woff'),
       url('fonts/Bodoni Book/Bodoni Book.ttf')  format('truetype');
}

$lato: 'Lato', sans-serif;
$bodoni: 'Bodoni Book';